<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
    <body>
        <div class="main-content">
            {{>header}}
            My name is Mustafa Mohsin. I am a fourth-year student at Wilfrid Laurier University pursuing a 
            Bachelor of Business Administration and a Bachelor of Computer Science. I am also a Web 
            Developer and Marketing Specialist for the Business and Education Partnership of Waterloo 
            Region. Here, I assisted in creating a web application in React, Redux, and Express. I also 
            assisted in Salesforce to create and manage users, manage permission sets, and Salesforce 
            integrations. Through WLU, I gained many certifications. These certifications include Microsoft 
            Excel Specialist, Bloomberg Analytics certification, and Salesforce certification. I have also 
            created many projects (which you will find below) in multiple languages. Most projects were 
            built with JavaScript and its framework and libraries such as React, Node, Express, and Mongoose.

           <!-- <img class="portrait" src="/img/download.png">-->
         <a href="MustafaMasud.githib.io">Click here to view my profile!</a>   

        </div>
        
        {{>footer}}
    </body>
</head>

</html>